<div class="categories-page">
<p style="color: green"><%= notice %></p>

<h1 class="budget-welcome">Welcome to <span>Budget</span>. Here is a list of your categories.</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to category do %>
    <%= render category %>
    <% end %>
  <% end %>
</div>

<div class="add-new-category">
<%= link_to "New category", new_category_path, class: "add-new-category-btn" %>
</div>
</div>
