<%= form_with model: @transaction,  url: "/categories/#{@category.id}/transactions", local: true do |form| %>


  <div class="form-section">
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <div class="form-section">
    <%= form.number_field :amount, placeholder: "Amount in $" %>
  </div>

  <div>
    <%= form.submit class: "submit-btn" %>
  </div>
<% end %>
